body, ul {
  margin: 0;
  padding: 0;
font-size: 18px;
}

.clearfix::after{
content: "";
display: block;
clear: both;
}

.wrapperBurger {
max-width: 1024px;
padding: 0 30px;
margin: 0 auto;
margin-right: unset;
}

nav {
background: #f1f2f4;
}

.menu {
position: relative;
}

.menu li {
float: left; /* пункты меню в ряд */
list-style: none;
}

.menu li a {
display: inline-block;
text-decoration: none;
color: white;
font-family: UniNeueBold;
}

.menuBurger {
padding: 10px 15px;
display: none;      /* кнопка гамбургер скрыта */
cursor: pointer;
}

#menuCSS {
  display: none;
}

@media screen and (max-width: 1280px) {
  .menu {
  display: none; /* пункты меню скрыты */
  background: #f1f2f4;
  position: absolute;
  left: 0;
  width: 100vw;
  top: 127px;
  background-color: #2c2c2c;
  padding-top: 25px;
}

.menu li {
    float: none; /* пункты меню в столбцах */
    height: 40px;
    font-size: 18px;
    margin-left: 21px;
  }

.menuBurger {
    display: inline-block;  /* иконка гамбургер видна */
  }

#menuCSS:checked + .menu {
  display: block;
  z-index: 2;
}



}

@font-face {
  font-family: 'UniNeueBold';
  src: url("../fonts/UniNeueBold.ttf");
}