body {
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans;
}

.welcome {
  width: 100%;
  height: 990px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background.png");
  background-size: 100% 100%;
}

.welcome:after {
  content: '';
  border-bottom: 128px solid white;
  border-right: 50vw solid transparent;
  display: inline-block;
  position: relative;
  top: 74%;
}

.welcome:before {
  content: '';
  border-bottom: 128px solid white;
  border-left: 50vw solid transparent;
  display: inline-block;
  position: relative;
  top: 87.2%;
  left: 49.53%;
}

.head {
  width: 1170px;
  position: absolute;
  left: 50%;
  margin-left: -585px;
  top: 40px;
  display: flex;
  justify-content: space-between;
}

.head__buttons {
  text-transform: uppercase;
  width: 220px;
  height: 55px;
  color: white;
  border-radius: 4px;
  font-family: OpenSans;
}

.head__buttons:hover {
  cursor: pointer;
}

.head__button-first {
  background-color: #e74c3c;
  margin-right: 30px;
  border: none;
}

.head__button-second {
  background: transparent;
  border: 1px solid white;
}

.logo {
  background-image: url("../images/logo.png");
  width: 141px;
  height: 52px;
}

.welcome__nav-item {
  display: inline;
  color: white;
  text-transform: uppercase;
  margin-left: 60px;
  padding-bottom: 20px;
  font-family: OpenSans;
}

.welcome__nav-item:hover {
  color: red;
  border-bottom: 1px solid red;
  cursor: pointer;
}

.container {
  position: absolute;
  width: 1170px;
  left: 50%;
  margin-left: -585px;
}

.container-buttons {
  top: 750px;
  text-align: center;
}

.decoration {
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.decoration:before {
  content: '';
  display: block;
  width: 80px;
  height: 1px;
  background-color: #999999;
  position: relative;
  left: -95px;
  top: 5px;
}

.decoration:after {
  content: '';
  display: block;
  width: 80px;
  height: 1px;
  background-color: #999999;
  position: relative;
  left: 21px;
  top: 4px;
}

.real-container {
  max-width: 1170px;
  margin: auto;
}

.anchor {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: auto;
  margin-top: -30px;
  position: absolute;
  top: 985px;
  left: 50%;
  margin-left: -37.5px;
  z-index: 1;
  animation: radial-pulse 2s infinite;
}

.wrapper-anchor {
  width: 100%;
  background-color: #D04746;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.advantages {
  min-height: 325px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 120px;
}

.advantages__item {
  text-align: center;
}

.advantages__item-name {
  text-transform: uppercase;
  color: grey;
  font-size: 20px;
  font-family: OpenSans-Bold;
}

.advantages__item-decoration {
  width: 45px;
  height: 2px;
  background-color: grey;
  margin: 17px auto;
}

.advantages__item-text {
  max-width: 250px;
  font-family: OpenSans-Light;
}

.advantages__item-image {
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  margin: auto;
  margin-bottom: 30px;
  transition: linear 0.3s;
}

.advantages__item-image-picture {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin: 21px auto;
  transition: linear 0.3s;
}

.advantages__item-image:hover {
  cursor: pointer;
  transform: rotate(45deg);
  border: 1px solid red;
}

.advantages__item-image:hover span.advantages__itemName {
  color: red;
}

.advantages__item-image:hover .advantages__item-image-picture {
  transform: rotate(-45deg);
  margin-left: 21px;
  margin-top: 21px;
}

.advantages__item-image:hover ~ .advantages__item-name {
  color: red;
}

.history {
  min-height: 555px;
  display: flex;
  justify-content: space-between;
  padding-top: 135px;
}

.history__image {
  background: url(../images/monitor.png);
  min-width: 507px;
  height: 407px;
}

.history__content {
  max-width: 580px;
  margin-left: 80px;
}

.history__content-header {
  text-transform: uppercase;
  color: #6a6a6a;
  font-size: 24px;
  border-left: 6px solid #e74c3c;
  padding-left: 30px;
  margin-top: 0;
  font-family: OpenSans-Bold;
  letter-spacing: 3px;
}

.history__content-text {
  line-height: 30px;
  font-family: OpenSans;
}

.history__content-button {
  margin-top: 50px;
}

.greyLine {
  content: '';
  display: block;
  height: 1px;
  background-color: #e6e7eb;
  width: 100vw;
  margin-left: -20vw;
}

.services {
  min-height: 760px;
  display: flex;
  justify-content: space-between;
  background-color: #202020;
}

.services__content {
  text-align: right;
  width: 50%;
  padding-top: 75px;
}

.services__content-header {
  color: #f4f5f9;
  text-transform: uppercase;
  border-right: 6px solid #e74c3c;
  padding-right: 30px;
  font-size: 27px;
  margin-bottom: 70px;
  font-family: OpenSans-Bold;
  letter-spacing: 3px;
}

.services__content-item:after {
  content: '';
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #f4f5f9;
  position: relative;
  top: -85px;
  left: 108px;
}

.services__content-item-header {
  color: #e74c3c;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 23px;
  margin-top: 0px;
}

.services__content-item-text {
  color: #999999;
  max-width: 560px;
  margin-left: auto;
  line-height: 30px;
}

.services__image {
  width: 46%;
  background: url(../images/tablet.png);
  background-position: right;
  background-size: cover;
}

.services__image-little {
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #f4f5f9;
  position: relative;
  top: 240px;
  left: -35px;
  background: url(../images/display.png) no-repeat center #f4f5f9;
  animation: radial-pulse 2s infinite;
}

.services__image-little-second {
  background: url(../images/docs.png) no-repeat center #f4f5f9;
  top: 390px;
  left: -35px;
}

.services__image-little-third {
  background: url(../images/camera.png) no-repeat center #f4f5f9;
  top: 535px;
  left: -35px;
}

.services__image-little-wrapper {
  width: 100%;
  background-color: #D04746;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__contentImage {
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #f4f5f9;
  position: absolute;
  top: -85px;
  left: 108px;
  background: url(../images/display.png) no-repeat center #f4f5f9;
}

.recentWorks {
  min-height: 1189px;
  text-align: center;
  padding-top: 140px;
}

.recentWorks__header {
  text-transform: uppercase;
  color: #6a6a6a;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: OpenSans-Bold;
  letter-spacing: 3px;
}

.recentWorks__text {
  color: #999999;
  display: block;
  margin: 27px;
}

.recentWorks__navigation {
  margin-top: 65px;
  margin-bottom: 50px;
}

.recentWorks__li {
  display: inline;
  color: #999999;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: bold;
}

.recentWorks__li:hover {
  color: #ec7063;
  cursor: pointer;
}

.recentWorks__li-span {
  margin-left: 20px;
  margin-right: 20px;
}

.recentWorks__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.recentWorks__image {
  width: 475px;
  height: 475px;
}

.recentWorks__image {
  position: relative;
}

.recentWorks__image:hover .recentWorks__hover-block {
  display: block;
}

.recentWorks__hover-block {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(236, 112, 99, 0.85);
  display: none;
  text-align-last: left;
  padding-left: 50px;
  vertical-align: bottom;
  padding-top: 345px;
}

.recentWorks__hover-block > span {
  display: block;
  color: white;
}

.recentWorks__hover-block-span {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.recentWorks__hover-block-span:before {
  content: '';
  display: block;
  width: 45px;
  height: 5px;
  background: white;
  margin-bottom: 30px;
}

.caseStudy {
  background-color: #f4f5f9;
  min-height: 1190px;
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
}

.caseStudy__content {
  width: 670px;
  height: 630px;
  background-color: white;
  padding-top: 85px;
  display: inline-block;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  top: -172px;
}

.caseStudy__content-romb {
  width: 70px;
  height: 70px;
  background: #e74c3c;
  transform: rotate(45deg);
  margin-left: auto;
  margin-right: auto;
}

.caseStudy__content-romb:after {
  content: '';
  display: block;
  background: url(../images/lamp.png) no-repeat center;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}

.caseStudy__content-header {
  text-transform: uppercase;
  color: #6a6a6a;
  padding-top: 50px;
  font-family: OpenSans-Bold;
}

.caseStudy__content-paragraph {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
  font-family: OpenSans-Light;
}

.caseStudy__content-button {
  margin-right: 0;
  margin-top: 50px;
}

.caseStudy__image {
  width: 580px;
  height: 720px;
  background: url(../images/caseStudy.png);
  display: inline-block;
  position: relative;
  z-index: 0;
  margin-left: -95px;
  margin-top: 70px;
}

.decoration-line {
  width: 40px;
  height: 1px;
  background-color: #888888;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.progress {
  min-height: 510px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/people.png);
  display: flex;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 150px;
  box-sizing: border-box;
}

.progress__item {
  text-align: center;
}

.progress__item-circle {
  border: 1px solid white;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin-right: auto;
  margin-left: auto;
}

.progress__item-digit {
  color: white;
  text-transform: uppercase;
  display: block;
  margin-top: 50px;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 25px;
  font-family: OpenSans-Bold;
}

.progress__item-value {
  color: white;
  font-size: 20px;
  font-family: OpenSans-Light;
}

.pricing {
  min-height: 1070px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 157px;
  padding-bottom: 140px;
}

.pricing__card {
  width: 380px;
  height: 610px;
  background-color: #f4f5f9;
  box-sizing: border-box;
  margin-right: 15px;
  margin-top: 70px;
}

.pricing__card-top {
  height: 200px;
  background-color: #999999;
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;
}

.pricing__card-top-header {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
}

.pricing__card-circle {
  border-radius: 50%;
  display: block;
  width: 150px;
  height: 150px;
  background-color: white;
  position: absolute;
  top: 125px;
  left: 50%;
  margin-left: -77px;
}

.pricing__card-circle-price {
  display: block;
  color: #999999;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.pricing__card-circle-month {
  color: #999999;
  font-weight: bold;
}

.pricing__card-bottom > ul > li {
  list-style: none;
  color: #999999;
  margin-bottom: 20px;
}

.pricing__card-bottom > ul {
  padding-left: 0;
}

.pricing__card-bottom {
  padding-top: 125px;
}

.pricing__card-bottom-button {
  margin-right: 0;
  background-color: #999999;
  text-transform: uppercase;
  width: 145px;
  height: 50px;
  margin-top: 13px;
}

.pricingCards {
  display: flex;
  justify-content: center;
}

.pricing__card:hover .pricing__card-top {
  background-color: #e74c3c;
}

.pricing__card:hover .pricing__card-circle-price {
  color: #e74c3c;
}

.pricing__card:hover .pricing__card-bottom-button {
  background-color: #e74c3c;
}

.ourTeam {
  box-sizing: border-box;
  min-height: 740px;
  background: url(../images/shape.png) no-repeat 100% 100%, url(../images/team.png) no-repeat center;
  padding-top: 150px;
  text-align: center;
}

.ourTeam__header {
  color: white;
}

.ourTeam__text {
  color: white;
}

.ourTeam__members-member {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #e74c3c;
}

.ourTeam__members-member1 {
  margin-top: 52px;
}

.ourTeam__members-member2 {
  margin-top: 5px;
}

.ourTeam__members-member3 {
  margin-top: -3px;
}

.ourTeam__members-member4 {
  margin-top: 38px;
}

.ourTeam__members-member5 {
  margin-top: 14px;
}

.ourTeam__mebmers {
  display: flex;
  justify-content: space-between;
  padding-top: 118px;
}

.decorationOurTeam:before {
  background-color: white;
}

.decorationOurTeam:after {
  background-color: white;
}

.ourTeam__members-unit {
  min-width: 130px;
  max-height: 55px;
}

.ourTeam__members-unit-text {
  margin-left: -75px;
  display: none;
}

.ourTeam__members-unit-text-line {
  height: 50px;
  width: 1px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.ourTeam__members-unit-text-name {
  color: #e74c3c;
  font-size: 30px;
  margin-top: 25px;
  display: block;
}

.ourTeam__members-unit-text-position {
  display: block;
  color: white;
  margin-top: 20px;
}

.ourTeam__members-unit:hover .ourTeam__members-unit-text {
  display: block;
}

.integrations {
  min-height: 700px;
  box-sizing: border-box;
  background-color: #f4f5f9;
  text-align: center;
  padding-top: 150px;
}

.integrations__header {
  letter-spacing: 1px;
}

.integrations__cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;
}

.integrations__cardsCard {
  width: 210px;
  height: 100px;
  background-color: #ffffff;
  margin-right: 24px;
  margin-bottom: 24px;
  position: relative;
}

.integrations__cardsCard:hover {
  background: rgba(231, 78, 62, 0.8);
}

.integrations__logo {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.blog {
  min-height: 1243px;
  border-top: 1px solid #d8d9db;
  background-color: #f4f5f9;
  text-align: center;
  padding-top: 115px;
  box-sizing: border-box;
}

.blog__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.blog__item {
  width: 25%;
  height: 475px;
}

.blog__item-text {
  background-color: #e74e3e;
  text-align-last: left;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
}

.blog__item-text-header {
  display: block;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

.blog__item-text-decoration {
  width: 45px;
  height: 5px;
  background-color: white;
  margin-bottom: 30px;
}

.blog__item-text-paragraph {
  display: block;
  text-align: left;
  line-height: 30px;
  margin-bottom: 30px;
}

.blog__item-text-a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

.blog__item1 {
  background: url(../images/blog/1.png);
}

.blog__item3 {
  background: url(../images/blog/2.png);
}

.blog__item6 {
  background: url(../images/blog/3.png);
}

.blog__item8 {
  background: url(../images/blog/4.png);
}

.blog__item2, .blog__item4, .blog__item5, .blog__item7 {
  position: relative;
}

.blog__item2:before, .blog__item4:before {
  width: 50px;
  height: 50px;
  background-color: #e74e3e;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: rotate(45deg);
}

.blog__item5:before, .blog__item7:before {
  width: 50px;
  height: 50px;
  background-color: #e74e3e;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -25px;
  transform: rotate(45deg);
}

.keepInTouch {
  min-height: 1030px;
  background-color: #f4f5f9;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  box-sizing: border-box;
}

.keepInTouch__wrapper {
  display: flex;
  padding-top: 70px;
  box-sizing: border-box;
}

.keepInTouch__contacts {
  min-width: 480px;
  min-height: 565px;
  background-color: white;
  margin-right: 30px;
  text-align: left;
  padding-left: 90px;
  padding-top: 70px;
}

.keepInTouch__contacts-header {
  text-transform: uppercase;
  font-family: OpenSans-Semibold;
  font-size: 20px;
  color: #e9594a;
  margin-bottom: 22px;
}

.keepInTouch__contacts-value {
  color: #999999;
  display: block;
  margin-bottom: 90px;
}

.keepInTouch__form {
  min-width: 660px;
  min-height: 565px;
  background-color: white;
}

.keepInTouch__form {
  padding: 95px;
  text-align: left;
  box-sizing: border-box;
}

.form__input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  height: 40px;
  margin-bottom: 20px;
  width: 95%;
}

.keepInTouch__contacts, .keepInTouch__form {
  box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.form__inputComment {
  padding-bottom: 90px;
}

.form__field {
  position: relative;
}

.form label.error {
  color: red;
  display: block;
  position: absolute;
  top: 100%;
  margin-top: -24px;
  left: 0;
  right: 0;
}

input.error {
  border: 2px solid red;
}

.start {
  min-height: 480px;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footerBack.png) 100%;
  text-align: center;
  padding-top: 150px;
  color: white;
}

.start__header {
  font-family: OpenSans;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.start__text {
  font-family: OpenSans-Light;
  display: block;
  margin-bottom: 20px;
}

.start .start__header > b {
  font-family: OpenSans-Bold;
}

footer {
  min-height: 90px;
  background-color: #202020;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}

.footer__socials {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  min-width: 300px;
}

.footer__socials-image:hover {
  filter: hue-rotate(360deg);
}

.footer__copyright-text {
  color: #7b7b7b;
}

.footer__socials-image {
  filter: contrast(0);
}

.services__content .slick-dots li button:before {
  width: 35px;
  height: 2px;
  content: '';
  background-color: #e74c3c;
}

.services__content .slick-dots li {
  width: 43px;
}

.services__content .slick-dots {
  bottom: 50%;
  transform: rotate(90deg);
  left: -45%;
}

.slick-dots {
  bottom: 23%;
  left: -12.5%;
}

.slick-dots li button:before {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  color: #e74c3c;
}

.owl-carousel {
  text-align: center;
  padding-top: 180px;
}

.item-div {
  color: white;
}

.item-div__preheader {
  font-family: OpenSans;
}

.item-div_header {
  text-transform: uppercase;
  font-size: 50px;
  font-family: OpenSans-Bold;
  letter-spacing: 10px;
}

.item-div_p {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  font-family: OpenSans-Light;
}

.owl-prev > span, .owl-next > span {
  display: none;
}

.owl-prev {
  width: 45px;
  height: 45px;
  background: url(../images/left.png) !important;
  position: absolute;
  left: -25%;
}

.owl-next {
  width: 45px;
  height: 45px;
  background: url(../images/right.png) !important;
  position: absolute;
  right: -25%;
}

.owl-nav {
  margin-top: -13% !important;
}

.owl-dots {
  display: none;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 900;
  font-style: normal;
}

@media (max-width: 1780px) {
  .owl-next {
    right: -10%;
  }
  .owl-prev {
    left: -10%;
  }
}

@media (max-width: 1430px) {
  .owl-next {
    right: 0%;
  }
  .owl-prev {
    left: 0%;
  }
}

@media (max-width: 1390px) {
  .keepInTouch__form {
    min-width: 550px;
  }
  .advantages {
    flex-wrap: wrap;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .advantages__item {
    text-align: center;
    margin-bottom: 80px;
  }
  .history {
    justify-content: center;
  }
  .history__image {
    min-width: 365px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .history__content-button {
    position: absolute;
    left: 267px;
    top: 2160px;
  }
  .history__content-text {
    max-width: 430px;
  }
  .services__image {
    display: none;
  }
  .slick-track > .slickContent {
    width: 70% !important;
  }
  .services__content {
    width: 90%;
  }
  .services__content-header {
    margin-right: 30%;
  }
  .services__content-item-text-first:after {
    background: #f4f5f9 url(../images/display.png) no-repeat center;
  }
  .services__content-item-text-second:after {
    background: #f4f5f9 url(../images/docs.png) no-repeat center;
  }
  .services__content-item-text-third:after {
    background: #f4f5f9 url(../images/camera.png) no-repeat center;
  }
  .recentWorks__image {
    width: 50%;
    background-size: cover !important;
  }
  .caseStudy__image {
    display: none;
  }
  .caseStudy__content {
    height: 850px;
    padding-top: 281px;
  }
  .decoration-caseStudy {
    margin-bottom: 70px;
  }
  .slick-dots {
    left: 0%;
  }
  .progress {
    flex-wrap: wrap;
    min-height: 710px;
    padding-top: 100px;
    background-size: cover;
  }
  .progress__item {
    width: 30%;
  }
  .pricing__card {
    margin-right: auto;
    margin-left: auto;
  }
  .pricingCards {
    flex-direction: column;
  }
  .ourTeam {
    background: url(../images/team.png) no-repeat center;
  }
  .ourTeam__mebmers {
    flex-direction: column;
    padding-left: 10%;
    padding-top: 70px;
  }
  .ourTeam__members-member1, .ourTeam__members-member2, .ourTeam__members-member3, .ourTeam__members-member4, .ourTeam__members-member5 {
    margin-top: 0;
  }
  .ourTeam__members-unit {
    margin-bottom: 20px;
  }
  .integrations__cards {
    justify-content: center;
  }
  .integrations__cardsCard {
    width: 31%;
  }
  .blog__item {
    width: 50%;
    background-size: cover;
  }
  .keepInTouch__wrapper {
    flex-wrap: wrap;
  }
  .keepInTouch__contacts {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    margin-bottom: 23px;
  }
  .keepInTouch__form {
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }
  .request_button {
    text-align: center;
  }
  .start__text {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1180px) {
  .owl-next {
    right: 15%;
  }
  .owl-prev {
    left: 15%;
  }
  .container {
    width: 768px;
    margin-left: -384px;
  }
  .head {
    width: 768px;
    margin-left: -384px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 320px;
    margin-left: -160px;
  }
  .owl-carousel {
    padding-top: 0;
  }
  .head {
    width: 320px;
    margin-left: -160px;
  }
  .owl-next, .owl-prev {
    display: none !important;
  }
  .head__buttons {
    width: 42%;
  }
  .advantages {
    max-width: 486px;
  }
  .advantages__item {
    margin-left: auto;
    margin-right: auto;
  }
  .history__image {
    display: none;
  }
  .history__content-button {
    position: initial;
    margin-left: auto;
    display: block;
    margin-right: auto;
  }
  .history {
    padding-bottom: 25px;
  }
  .services__content {
    width: auto;
  }
  .recentWorks__navigation {
    display: none;
  }
  .recentsWorks__category {
    display: block !important;
    color: #999999;
    margin: 27px;
  }
  .recentWorks__image {
    width: 100%;
  }
  .caseStudy__content-romb {
    display: none;
  }
  .caseStudy__content {
    width: auto;
  }
  .progress__item {
    width: 100%;
    margin-bottom: 44px;
  }
  .progress__item-digit {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .blog__item {
    width: 100%;
  }
  .keepInTouch__contacts {
    min-width: 320px;
  }
  .keepInTouch__form {
    min-width: 320px;
  }
  .blog__item5:before, .blog__item7:before {
    display: none;
  }
  .form__button {
    width: 100%;
  }
  .start {
    padding-top: 50px;
    min-height: 350px;
  }
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */