body {
  margin: 0;
  box-sizing: border-box;
}

.welcome {
  width: 100%;
  height: 990px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/Foreground.png");
  background-size: 100%;
}

.welcome:after {
  content: '';
  border-bottom: 128px solid white;
  border-right: 50vw solid transparent;
  display: inline-block;
  position: relative;
  top: 74%;
}

.welcome:before {
  content: '';
  border-bottom: 128px solid white;
  border-left: 50vw solid transparent;
  display: inline-block;
  position: relative;
  top: 87.2%;
  left: 49.53%;
}

.head {
  width: 1170px;
  position: absolute;
  left: 50%;
  margin-left: -585px;
  top: 40px;
  display: flex;
  justify-content: space-between;
}

.head__buttons {
  text-transform: uppercase;
  width: 220px;
  height: 55px;
  color: white;
  border-radius: 4px;
}

.head__buttons:hover {
  cursor: pointer;
}

.head__button1 {
  background-color: #e74c3c;
  margin-right: 30px;
  border: none;
}

.head__button2 {
  background: transparent;
  border: 1px solid white;
}

.logo {
  background-image: url("../images/logo.png");
  width: 141px;
  height: 52px;
}

.welcome__navItem {
  display: inline;
  color: white;
  text-transform: uppercase;
  margin-left: 60px;
  padding-bottom: 20px;
}

.welcome__navItem:hover {
  color: red;
  border-bottom: 1px solid red;
  cursor: pointer;
}

.container {
  position: absolute;
  width: 1170px;
  left: 50%;
  margin-left: -585px;
}

.containerButtons {
  top: 750px;
  text-align: center;
}

.decoration {
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.decoration:before {
  content: '';
  display: block;
  width: 80px;
  height: 1px;
  background-color: white;
  position: relative;
  left: -95px;
  top: 5px;
}

.decoration:after {
  content: '';
  display: block;
  width: 80px;
  height: 1px;
  background-color: white;
  position: relative;
  left: 21px;
  top: 4px;
}

.realContainer {
  max-width: 1170px;
  margin: auto;
}

.anchor {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: url("../images/anchor.png") no-repeat center #f4f5f9;
  margin: auto;
  margin-top: -30px;
  position: absolute;
  top: 985px;
  left: 50%;
  margin-left: -37.5px;
  z-index: 1;
}

.advantages {
  min-height: 325px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 120px;
}

.advantages__item {
  text-align: center;
}

.advantages__itemName {
  text-transform: uppercase;
  color: grey;
  font-size: 20px;
}

.advantages__itemDecoration {
  width: 45px;
  height: 2px;
  background-color: grey;
  margin: 17px auto;
}

.advantages__itemText {
  max-width: 250px;
}

.advantages__itemImage {
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  margin: auto;
  margin-bottom: 30px;
}

.advantages__itemImage1 {
  background: url(../images/1.png);
}

.advantages__itemImage2 {
  background: url(../images/2.png);
}

.advantages__itemImage3 {
  background: url(../images/3.png);
}

.advantages__itemImage4 {
  background: url(../images/4.png);
}

.advantages__itemImage1, .advantages__itemImage2, .advantages__itemImage3, .advantages__itemImage4 {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 23px auto;
}

.advantages__itemImage:hover {
  cursor: pointer;
  transform: rotate(45deg);
  border: 1px solid red;
}

.advantages__itemImage:hover span.advantages__itemName {
  color: red;
}

.advantages__itemImage:hover .advantages__itemImage1, .advantages__itemImage:hover .advantages__itemImage2, .advantages__itemImage:hover .advantages__itemImage3, .advantages__itemImage:hover .advantages__itemImage4 {
  transform: rotate(-45deg);
  margin-left: 21px;
  margin-top: 21px;
}

.advantages__itemImage:hover ~ .advantages__itemName {
  color: red;
}

.history {
  min-height: 555px;
  display: flex;
  justify-content: space-between;
  padding-top: 135px;
}

.history__image {
  background: url(../images/monitor.png);
  min-width: 507px;
  height: 407px;
}

.history__content {
  max-width: 580px;
  margin-left: 80px;
}

.history__contentHeader {
  text-transform: uppercase;
  color: #6a6a6a;
  font-size: 24px;
  border-left: 6px solid #e74c3c;
  padding-left: 30px;
  margin-top: 0;
}

.history__contentText {
  line-height: 30px;
}

.history__contentButton {
  margin-top: 50px;
}

.greyLine {
  content: '';
  display: block;
  height: 1px;
  background-color: #e6e7eb;
  width: 100vw;
  margin-left: -20vw;
}

.owl-carousel {
  text-align: center;
  padding-top: 180px;
}

.itemDiv {
  color: white;
}

.itemDiv_header {
  text-transform: uppercase;
  font-size: 50px;
}

.itemDiv_p {
  max-width: 568px;
  margin-left: auto;
  margin-right: auto;
}

.owl-prev > span, .owl-next > span {
  display: none;
}

.owl-prev {
  width: 45px;
  height: 45px;
  background: url(../images/left.png) !important;
  position: absolute;
  left: -25%;
}

.owl-next {
  width: 45px;
  height: 45px;
  background: url(../images/right.png) !important;
  position: absolute;
  right: -25%;
}

.owl-nav {
  margin-top: -13% !important;
}

.owl-dots {
  display: none;
}
/*# sourceMappingURL=style.css.map */