body
  margin: 0
  
.welcome
  width: 100%
  height: 990px
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/Foreground.png')
  background-size: 100%
  &:after
    content: ''
    border-bottom: 128px solid white
    border-right: 50vw solid transparent
    display: inline-block
    position: relative
    top: 74%
  &:before
    content: ''
    border-bottom: 128px solid white
    border-left: 50vw solid transparent
    display: inline-block
    position: relative
    top: 87.2%
    left: 49.53%

.head
  width: 1170px
  position: absolute
  // border: 3px solid red
  left: 50%
  margin-left: -585px
  top: 40px
  display: flex
  justify-content: space-between
  &__buttons
    text-transform: uppercase
    width: 220px
    height: 55px
    color: white
    border-radius: 4px
    &:hover
      cursor: pointer
  &__button1
    background-color: $red
    margin-right: 30px
    border: none
  &__button2
    background: transparent
    border: 1px solid white

.logo
  background-image: url('../images/logo.png')
  width: 141px
  height: 52px

.welcome__navItem
  display: inline
  color: white
  text-transform: uppercase
  margin-left: 60px
  padding-bottom: 20px
  &:hover
    color: red
    border-bottom: 1px solid red
    cursor: pointer

.container
  position: absolute
  // border: 2px solid red
  width: 1170px
  left: 50%
  margin-left: -585px
  &Buttons
    top: 750px
    text-align: center
  
.decoration
  width: 7px
  height: 7px
  background-color: red
  border-radius: 50%
  margin-left: auto
  margin-right: auto
  &:before
    content: ''
    display: block
    width: 80px
    height: 1px
    background-color: white
    position: relative
    left: -95px
    top: 5px
  &:after
    content: ''
    display: block
    width: 80px
    height: 1px
    background-color: white
    position: relative
    left: 21px
    top: 4px

.realContainer
  max-width: 1170px
  margin: auto

//блок преимущества advantages
.advantages
  min-height: 445px
  background-color: white
  display: flex
  justify-content: space-around
  padding-top: 120px
  &__item
    text-align: center

  &__itemName
    text-transform: uppercase
    color: grey
    font-size: 20px
  &__itemDecoration
    width: 45px
    height: 2px
    background-color: grey
    margin: 17px auto
  &__itemText
    max-width: 250px
  &__itemImage
    width: 70px
    height: 70px
    border: 1px solid grey
    margin: auto
    margin-bottom: 30px
    &1
      background: url(../images/1.png)
    &2
      background: url(../images/2.png)
    &3
      background: url(../images/3.png)
    &4
      background: url(../images/4.png)
    &1, &2, &3, &4
      width: 30px
      height: 30px
      background-repeat: no-repeat
      background-position: center
      margin: 23px auto


.advantages__itemImage:hover
  cursor: pointer
  transform: rotate(45deg)
  .advantages__itemImage1
    transform: rotate(-45deg)
    left: 2px
