body
  margin: 0
  
.welcome
  width: 100%
  height: 990px
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/Foreground.png')
  background-size: 100%
  &:after
    content: ''
    border-bottom: 128px solid white
    border-right: 50vw solid transparent
    display: inline-block
    position: relative
    top: 74%
  &:before
    content: ''
    border-bottom: 128px solid white
    border-left: 50vw solid transparent
    display: inline-block
    position: relative
    top: 87.2%
    left: 49.53%

.head
  width: 1170px
  position: absolute
  // border: 3px solid red
  left: 50%
  margin-left: -585px
  top: 40px
  display: flex
  justify-content: space-between
  &__buttons
    text-transform: uppercase
    width: 220px
    height: 55px
    color: white
    border-radius: 4px
    &:hover
      cursor: pointer
  &__button1
    background-color: $red
    margin-right: 30px
    border: none
  &__button2
    background: transparent
    border: 1px solid white

.logo
  background-image: url('../images/logo.png')
  width: 141px
  height: 52px

.welcome__navItem
  display: inline
  color: white
  text-transform: uppercase
  margin-left: 60px
  padding-bottom: 20px
  &:hover
    color: red
    border-bottom: 1px solid red
    cursor: pointer

.container
  position: absolute
  // border: 2px solid red
  width: 1170px
  left: 50%
  margin-left: -585px
  &Buttons
    bottom: -31%
    text-align: center
  
.decoration
  width: 7px
  height: 7px
  background-color: red
  border-radius: 50%
  margin-left: auto
  margin-right: auto
  &:before
    content: ''
    display: block
    width: 80px
    height: 1px
    background-color: white
    position: relative
    left: -95px
    top: 5px
  &:after
    content: ''
    display: block
    width: 80px
    height: 1px
    background-color: white
    position: relative
    left: 21px
    top: 4px