@media (max-width: 1780px)
  .owl-next
    right: -10%
  .owl-prev 
    left: -10%

@media (max-width: 1430px)
  .owl-next
    right: 0%
  .owl-prev 
    left: 0%
    
@media (max-width: 1390px) //1279
  .keepInTouch__form 
    min-width: 550px

  .advantages 
    flex-wrap: wrap
    max-width: 740px
    margin-left: auto
    margin-right: auto
    justify-content: space-between
    &__item 
      text-align: center
      margin-bottom: 80px

  .history
    justify-content: center
    &__image 
      min-width: 365px
      background-size: 100%
      background-repeat: no-repeat
    &__content-button 
      position: absolute
      left: 267px
      top: 2160px
    &__content-text 
      max-width: 430px

  .services__image
    display: none

  .slick-track > .slickContent
    width: 70% !important

  .services__content 
    width: 90%
    &-header
      margin-right: 30%

  .services__content-item-text-first:after
    background: #f4f5f9 url(../images/display.png) no-repeat center

  .services__content-item-text-second:after
    background: #f4f5f9 url(../images/docs.png) no-repeat center

  .services__content-item-text-third:after
    background: #f4f5f9 url(../images/camera.png) no-repeat center

  .recentWorks__image
    width: 50%
    background-size: cover !important

  .caseStudy__image 
    display: none
  .caseStudy__content 
    height: 850px
    padding-top: 281px
  .decoration-caseStudy
    margin-bottom: 70px
  .slick-dots 
    left: 0%

  .progress 
    flex-wrap: wrap
    min-height: 710px
    padding-top: 100px
    background-size: cover
    &__item
      width: 30%

  .pricing__card 
    margin-right: auto
    margin-left: auto
  .pricingCards
    flex-direction: column

  .ourTeam 
    background: url(../images/team.png) no-repeat center

  .ourTeam__mebmers 
    flex-direction: column
    padding-left: 10%
    padding-top: 70px

  .ourTeam__members-member
    &1, &2, &3, &4, &5
      margin-top: 0
  .ourTeam__members-unit 
    margin-bottom: 20px

  .integrations__cards
    justify-content: center
    &Card 
      width: 31%

  .blog__item 
    width: 50%
    background-size: cover

  .keepInTouch__wrapper
    flex-wrap: wrap
  .keepInTouch
    &__contacts
      width: 50%
      margin-left: auto
      margin-right: auto
      padding-top: 18px
      margin-bottom: 23px
    &__form
      width: 58%
      margin-left: auto
      margin-right: auto
      padding-top: 60px

  .request_button
    text-align: center

  .start__text 
    max-width: 500px
    margin-left: auto
    margin-right: auto

@media (max-width: 1180px)
  .owl-next 
    right: 3%
  .owl-prev 
    left: 3%

  .container 
    width: 768px
    margin-left: -384px

  .head
    width: 768px
    margin-left: -384px

  .super-wrapper-second
    display: none

  .caseStudy__content 
    background-size: cover
    background-image: url(../images/caseStudy-tablet.png)

  .progress 
    align-content: baseline

  .progress__item 
    text-align: center
    margin-bottom: 25px

@media (max-width: 1180px)
  $finalHeight: 610px;
  $finalWidth: 380px;
  $scrollBarHeight: 1px;

  .pricing
    position: relative

  ::-webkit-scrollbar 
    width: $scrollBarHeight
    height: $scrollBarHeight

  ::-webkit-scrollbar-button 
    width: $scrollBarHeight
    height: $scrollBarHeight

  .pricingCards
    position: absolute
    display: block
    top: 30%
    left: 0
    width: calc(#{$finalHeight} + #{$scrollBarHeight})
    max-height: $finalWidth
    margin: 0
    padding-top: $scrollBarHeight
    overflow-y: auto
    overflow-x: hidden
    transform: rotate(-90deg) translateY(-$finalHeight)
    transform-origin: right top
    & > div 
      display: block
      padding: 5px
      transform: rotate(90deg)
      transform-origin: right top

  .squares 
    padding: $finalHeight 0 0 0
    & > div 
      width: $finalHeight
      height: $finalHeight
      margin: 10px 0

@media (max-width: 767px)
  .container 
    width: 320px
    margin-left: -160px
  .owl-carousel
    padding-top: 0
  .head
    width: 320px
    margin-left: -160px
  .owl-next, .owl-prev 
    display: none !important
  .head__buttons 
    width: 42%
  .advantages 
    max-width: 486px
    &__item 
      margin-left: auto
      margin-right: auto
    
  .history__image 
    display: none
  .history__content-button 
    position: initial
    margin-left: auto
    display: block
    margin-right: auto
  .history 
    padding-bottom: 25px

  .services__content 
    width: auto

  .recentWorks__navigation
    display: none
  .recentsWorks__category
    display: block !important
    color: #999999
    margin: 27px
  .recentWorks__image 
    width: 100%

  .caseStudy__content-romb
    display: none
  .caseStudy__content 
    width: auto

  .progress__item 
    width: 100%
    margin-bottom: 44px
  .progress__item-digit 
    margin-top: 10px
    margin-bottom: 10px
  .blog__item 
    width: 100%

  .keepInTouch__contacts 
    min-width: 320px
  .keepInTouch__form
    min-width: 320px

  .blog__item5:before, .blog__item7:before 
    display: none

  .form__button
    width: 100%

  .start 
    padding-top: 50px
    min-height: 350px

  .footer__wrapper 
    flex-wrap: wrap
    justify-content: center
