.owl-carousel
  text-align: center
  padding-top: 180px

.item-div
  color: white
  &__preheader
    font-family: OpenSans
  &_header
    text-transform: uppercase
    font-size: 50px
    font-family: OpenSans-Bold
    letter-spacing: 10px
  &_p
    max-width: 620px
    margin-left: auto
    margin-right: auto
    font-family: OpenSans-Light

.owl-prev>span, .owl-next>span
  display: none

.owl-prev
  width: 45px
  height: 45px
  background: url(../images/left.png) !important
  position: absolute
  left: -25%

.owl-next
  width: 45px
  height: 45px
  background: url(../images/right.png) !important
  position: absolute
  right: -25%

.owl-nav
  margin-top: -13% !important


.owl-dots
  display: none